# Heroky Package -------------------
django-heroku
gunicorn
whitenoise

# Django Packages -------------------
Django>=3.1.7
dj-database-url
dj-email-url
django-cors-headers
django-mathfilters
django-nested-formset
django-tables2
djangorestframework

# Other Packages --------------------
CairoSVG
defusedxml
mysqlclient
openpyxl
pandas
pycparser
python-dotenv
WeasyPrint
webencodings
xlrd
