{% if item.genome_build and item.genome_build != "nan" %}
<div class="d-flex justify-content-center ">
    <div class="col-3 text-right">
        <strong class="">genome build</strong>
    </div>
    <div class="col-custom p-0"></div>
    <div class="col-6 ">{{ item.genome_build }}</div>
</div>
{% endif %}
{% if item.chromosome and item.chromosome != "nan" %}
<div class="d-flex justify-content-center pt-2 text">
    <div class="col-3 text-right">
        <strong class="">chromosome</strong>
    </div>
    <div class="col-custom p-0"></div>
    <div class="col-6 ">{{ item.chromosome }}</div>
</div>
{% endif %}
{% if item.start and item.start != "nan" %}
<div class="d-flex justify-content-center pt-2 text">
    <div class="col-3 text-right">
        <strong class="">start</strong>
    </div>
    <div class="col-custom p-0"></div>
    <div class="col-6 ">{{ item.start }}</div>
</div>
{% endif %}
{% if item.end and item.end != "nan" %}
<div class="d-flex justify-content-center pt-2 text">
    <div class="col-3 text-right">
        <strong class="">end</strong>
    </div>
    <div class="col-custom p-0"></div>
    <div class="col-6 ">{{ item.end }}</div>
</div>
{% endif %}
{% if item.ref and item.ref != "nan" %}
<div class="d-flex justify-content-center pt-2 text">
    <div class="col-3 text-right">
        <strong class="">ref</strong>
    </div>
    <div class="col-custom p-0"></div>
    <div class="col-6 ">{{ item.ref }}</div>
</div>
{% endif %}
{% if item.alt and item.alt != "nan" %}
<div class="d-flex justify-content-center pt-2 text">
    <div class="col-3 text-right">
        <strong class="">alt</strong>
    </div>
    <div class="col-custom p-0"></div>
    <div class="col-6 ">{{ item.alt }}</div>
</div>
{% endif %}
{% if item.transcript and item.transcript != "nan" %}
<div class="d-flex justify-content-center pt-2 text">
    <div class="col-3 text-right">
        <strong class="">Refseq Transcript</strong>
    </div>
    <div class="col-custom p-0"></div>
    <div class="col-6 ">{{ item.transcript }}</div>
</div>
{% endif %}
{% if item.c and item.c != "nan" %}
<div class="d-flex justify-content-center pt-2 text">
    <div class="col-3 text-right">
        <strong class="">c.</strong>
    </div>
    <div class="col-custom p-0"></div>
    <div class="col-6 ">{{ item.c }}</div>
</div>
{% endif %}
{% if item.p and item.p != "nan" %}
<div class="d-flex justify-content-center pt-2 text">
    <div class="col-3 text-right">
        <strong class="">p.</strong>
    </div>
    <div class="col-custom p-0"></div>
    <div class="col-6 ">{{ item.p }}</div>
</div>
{% endif %}
{% if item.consequence and item.consequence != "nan" %}
<div class="d-flex justify-content-center pt-2 text">
    <div class="col-3 text-right">
        <strong class="">consequence</strong>
    </div>
    <div class="col-custom p-0"></div>
    <div class="col-6 ">{{ item.consequence }}</div>
</div>
{% endif %}
<div class="d-flex justify-content-center pt-2 text">
    <div class="col-3 text-right">
        <strong class="">Gene</strong>
    </div>
    <div class="col-custom p-0"></div>
    <div class="col-6 ">{{ item.gene }}</div>
</div>
<hr class="mt-5 mb-5"/>