<div class='tab-pane fade {% if branch == 'no' %}show active{% endif %} {% if 'prefix' in subform.name.id_for_label %}empty-form{% endif %}' {% if 'prefix' in subform.name.id_for_label %}data-key='{{ branch }}'{% endif %}
     id='{% if 'prefix' in subform.name.id_for_label %}empty_div{% else %}{{ form.prefix }}div{{ forloop.counter0 }}{% endif %}'
     role='tabpanel' aria-labelledby='{{ form.prefix }}-tab'>

    {{ subform.management_form }}
    <div id='d{{ subform.name.id_for_label }}_label' class='card-header container-fluid'>
        <div class='row my-2'>
            <div class='h6 col-9 d-flex justify-content-start' href='#' data-bs-toggle='collapse' data-bs-target='#d{{ form.name.id_for_label }}_dx' aria-expanded='true'>
                {% if subform.branch.value == 'so' or branch == 'so' %}Somatic Oncogenicity{% elif subform.branch.value == 'gp' or branch == 'gp' %}Germline Pathogenicity{% else %}No Disease{% endif %} - [Disease] / [Status]
            </div>

            {% if 'prefix' in subform.name.id_for_label %}
                <div class='col-3 d-flex justify-content-end form-check-inline' style='margin-right: 0'>
                    {{ subform.branch }}
                </div>
            {% endif %}
        </div>
    </div>

    {% if subform.branch.value == 'so' or branch == 'so' %}

        <div id='d{{ subform.name.id_for_label }}_dx' class='card-body container collapse show {% if 'prefix' in subform.name.id_for_label %}empty-form{% endif %}'>
            <div class='row my-2'>
                <div class='col-4'>{{ subform.name.label }}</div>
                <div class='col-5'>{{ subform.name }}</div>
                <div class='offset-md-1 col-2'>{{ subform.DELETE }} {{ subform.DELETE.label }}</div>
            </div>

            {{ child_forms.0.management_form }}
            {% for func in child_forms.0.forms %}
                {% if forloop.counter0 == 0 %}
                    <div class='row form-group my-2'>
                        <div class='col-4'>{{ func.key.label }}</div>
                        <div class='col-4'>{{ func.key }}</div>
                        <div class='offset-md-1 col-3 pr-3'>
                            <button type='button' class='btn btn-primary pull-right' onclick='add_func_cat(this)'>
                                Add Functional Category
                            </button>
                        </div>
                    </div>
                </div>
                {% endif %}

                <div id='func_cat'>
                    <div class='card-header border-top justify-content-between d-flex' href='#'>
                        <div class='h6 mr-auto my-auto' href='#' data-bs-toggle='collapse' data-bs-target='.d{{ form.name.id_for_label }}_func' aria-expanded='true'>
                            Functional Evidences
                        </div>

                        <div class='ml-auto'>
                            <button type='button' class='btn btn-primary' id='{{ func.name }}' onclick='add_evid(this)'>Add Functional Evidences</button>
                        </div>
                    </div>

                    <div class='func_evid d{{ form.name.id_for_label }}_func collapse show'>
                        <div id='form{{ form.name }}' class='card-body container border-bottom'>
                            <div class='row form-group my-2'>
                                <div class='col-4'>{{ func.value.label }}</div>
                                <div class='col-4'>{{ func.value }}</div>
                            </div>
                        </div>

                        {{ subchild_forms.0.management_form }}
                        {% for evid in subchild_forms.0 %}
                            <div id='form{{ evid.name }}' class='card-body container'>
                                {% include 'partials/_evidence.html' %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}

        <div id='act_evid'>
            <div class='card-header border-top justify-content-between d-flex' href='#'>
                <div class='h6 mr-auto my-auto' href='#' data-bs-toggle='collapse' data-bs-target='.d{{ form.name.id_for_label }}_evid' aria-expanded='true'>
                    Actionability Evidences
                </div>
                <div class='ml-auto'>
                    <button type='button' class='btn btn-primary' onclick='add_evid(this)'>Add Actionability Evidences</button>
                </div>
            </div>

            <div class='act_evid d{{ subform.name.id_for_label }}_evid collapse show'>
                <div id='inner_form{{ forloop.counter }}' class='card-body container {% if 'prefix' in subform.name.id_for_label %}empty-form{% endif %} border-bottom'>
                    <div class='row form-group my-2'>
                        <div class='col-4'>{{ subform.others.label }}</div>
                        <div class='col-4'>{{ subform.others }}</div>
                    </div>
                </div>
                {% for evid in subchild_forms.0.forms %}
                    <div id='inner_form{{ forloop.counter }}' class='card-body container {% if 'prefix' in form.name.id_for_label %}empty-form{% endif %}'>
                        {% include 'partials/_evidence.html' %}

                        {% for field in evid %}
                            {% if 'Source' not in field.label and 'Statement' not in field.label %}
                                <div class='row my-2'>
                                    <div class='col-4'>{{ field.label }}</div>
                                    <div class='col-4'>{{ field }}</div>
                                    <div class='offset-md-2 col-2'>{{ form.DELETE }}</div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <hr/>
                    </div>
                {% endfor %}
            </div>
        </div>

    {% elif subform.branch.value == 'gp' or branch == 'gp' %}

        <div id='d{{ form.name.id_for_label }}_dx' class='card-body container collapse show {% if 'prefix' in form.name.id_for_label %}empty-form{% endif %}'>
            <div class='row my-2'>
                <div class='col-4'>{{ subform.name.label }}</div>
                <div class='col-5'>{{ subform.name }}</div>
                <div class='offset-md-1 col-2'>{{ subform.DELETE }} {{ subform.DELETE.label }}</div>
            </div>

            <div class='row form-group my-2'>
                <div class='col-4'>{{ subform.report.label }}</div>
                <div class='col-4'>{{ subform.report }}</div>
            </div>
        </div>

        {{ child_forms.1.management_form }}
        {% for score in child_forms.1.forms %}
            <div id='score'>
                <div class='card-header justify-content-between' href='#' data-bs-toggle='collapse' data-bs-target='#d{{ form.name.id_for_label }}_score' aria-expanded='true'>
                    <div class='h6 mr-auto my-2'>2015 ACMG Score</div>
                </div>

                <div id='d{{ score.name.id_for_label }}_score' class='card-body container collapse show {% if 'prefix' in form.name.id_for_label %}empty-form{% endif %}'>
                    {{ form.child_id }}
                    <div class='row form-group my-2'>
                        <div class='col-4'>{{ score.content.label }}</div>
                        <div class='col-4'>{{ score.content }}</div>
                    </div>

                    <div class='row form-group my-2'>
                        <div class='col-4'>{{ score.for_score.label }}</div>
                        <div class='col-4'>{{ score.for_score }}</div>
                    </div>

                    <div class='row form-group my-2'>
                        <div class='col-4'>{{ score.against_score.label }}</div>
                        <div class='col-4'>{{ score.against_score }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div id='score_items'>
            <div class='card-header border-top justify-content-between d-flex' href='#' data-bs-toggle='collapse' data-bs-target='#d{{ form.name.id_for_label }}_for_score' aria-expanded='true'>
                <div class='h6 mr-auto my-2'>For Pathogenicity</div>
            </div>

            <div id='d{{ form.name.id_for_label }}_for_score' class='card-body container collapse show {% if 'prefix' in form.name.id_for_label %}empty-form{% endif %}'>
                {{ subchild_forms.1.management_form }}
                {% for evid in subchild_forms.1.forms %}
                    {% if 'P' in evid.key.value and 'B' not in evid.key.value %}
                        <div class='row my-3'>
                            <div class='col-12'>
                                <input type='checkbox' id='{{ evid.key.id_for_label }}' name='{{ evid.key.name }}' value='{{ evid.key.value }}' onchange='select_evidence(this)' aria-label='{{ evid.key.value }}'/>
                                {{ evid.key.value }}: {{ evid.content.value }}
                            </div>
                        </div>

                        {% include 'partials/_evidence.html' %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class='card-header border-top justify-content-between d-flex' href='#' data-bs-toggle='collapse' data-bs-target='#d{{ score.name.id_for_label }}_against_score' aria-expanded='true'>
                <div class='h6 mr-auto my-2'>Against Pathogenicity</div>
            </div>

            <div id='d{{ form.name.id_for_label }}_for_score' class='card-body container collapse show {% if 'prefix' in form.name.id_for_label %}empty-form{% endif %}'>
                {{ subchild_forms.1.management_form }}
                {% for evid in subchild_forms.1.forms %}
                    {% if 'B' in evid.key.value %}
                        <div class='row my-3'>
                            <div class='col-12'>
                                <input type='checkbox' id='{{ evid.key.id_for_label }}' name='{{ evid.key.name }}' value='{{ evid.key.value }}' onchange='select_evidence(this)' aria-label='{{ evid.key.value }}'/>
                                {{ evid.key.value }}: {{ evid.content.value }}
                            </div>
                        </div>

                        {% include 'partials/_evidence.html' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    {% endif %}
</div>