{% for field in evid %}

    {% if 'Source' in field.label or 'Statement' in field.label %}
        <div class='row my-2'>
            <div class='col-4'>{{ field.label }}</div>
            {% if 'Statement' in field.label %}

                <div class='col-5'>
                    <textarea class='form-control' id='id_{{ prefix }}-evid-0-statement' name='{{ prefix }}-evid-0-statement' aria-label='Statement'>{% if field.value and exists %}{{ field.value }}{% endif %}</textarea>
                </div>


            {% else %}

                <div class='col-4'>
                    {% if 'Source id' in field.label %}

                        <input id='id_{{ prefix }}-evid-0-source_id' name='{{ prefix }}-evid-0-source_id' aria-label='Source id' value='{% if field.value and exists %}{{ field.value }}{% endif %}'/>

                    {% else %}

                        <select class='form-select' id='id_{{ prefix }}-evid-0-source_type' name='{{ prefix }}-evid-0-source_type' aria-label='Source type'>
                            <option value=''>---------</option>
                            {% for item in field.cust_choices %}
                                <option value='{{ item.0 }}' {% if field.value and exists or exists is not None and field.value == item.0 %}selected{% endif %}>{{ item.1 }}</option>
                            {% endfor %}
                        </select>

                    {% endif %}
                </div>

                <div class='offset-md-3 col-1'>
                    {% if 'Source type' in field.label %}
                        <button type='button' class='btn btn-primary' id='' onclick='add_item(this)'>
                            <i class='fa fa-plus'></i>
                        </button>
                    {% endif %}
                </div>

            {% endif %}

            {% if 'Type' in field.label %}
                <div class='offset-md-2 col-2'>{{ evid.DELETE }}</div>
            {% endif %}
        </div>

    {% else %}

        <input type='hidden' id='id_{{ prefix }}-evid-0-{{ field.label|lower }}' name='{{ prefix }}-evid-0-{{ field.label|lower }}' aria-label='{{ field.label }}' value='{% if field.value %}{{ field.value }}{% endif %}'/>

    {% endif %}
{% endfor %}