<html>
<head>
    <title>Variant and Disease</title>
    <style>
    body {
        background-color: #f7f7f8;
    }

    </style>
</head>
<body>
<h1>Diseases Exported</h1>
Variant: {{ item }}
Gene: {{ item.gene }}

{% for disease in item.diseases.all %}
<div class="card">
    <div class="card-header">
        <h6><strong>Disease: {{ disease.name }}</strong></h6>
    </div>
    <div class="card-body ml-3">
        {% for set in disease.functionals.all %}
        {% if forloop.counter == 1 %}
        <div class="row form-group">
            <div class="col-3"><strong>Functional Significance</strong></div>
            <div class="col-3">{{ set.key }}</div>
        </div>
        {% endif %}
        <div class="row form-group">
            <div class="col-3"><strong>Functional Class</strong></div>
            <div class="col-3">{{ set.value }}</div>
        </div>
        {% for evidence in set.evidences.all %}
        <div class="row form-group">
            <div class="col-3"><strong>Source Type</strong></div>
            <div class="col-2">{{ evidence.get_source_type_display }}</div>
        </div>
        <div class="row form-group">
            <div class="col-3"><strong>Source ID</strong></div>
            <div class="col-2">{{ evidence.source_id }}</div>
        </div>
        <div class="row form-group mb-4">
            <div class="col-3"><strong>Evidence Statement</strong></div>
            <div class="col-7">{{ evidence.statement }}</div>
            <div class="col-2">{{ evidence.histories.last }}</div>
        </div>
        {% endfor %}
        <hr/>
        {% endfor %}
        {% for evidence in disease.evidences.all %}
        <div class="row form-group">
            <div class="col-3"><strong>Source Type</strong></div>
            <div class="col-2">{{ evidence.get_source_type_display }}</div>
        </div>
        <div class="row form-group">
            <div class="col-3"><strong>Source ID</strong></div>
            <div class="col-2">{{ evidence.source_id }}</div>
        </div>
        <div class="row form-group">
            <div class="col-3"><strong>Evidence Statement</strong></div>
            <div class="col-7">{{ evidence.statement }}</div>
            <div class="col-2">{{ evidence.histories.last }}</div>
        </div>
        {% with sub=evidence.subevidences.first %}
        <div class="row form-group">
            <div class="col-3"><strong>Evidence Significance</strong></div>
            <div class="col-2">{{ sub.evid_sig }}</div>
        </div>
        <div class="row form-group">
            <div class="col-3"><strong>Evidence Level</strong></div>
            <div class="col-2">{{ sub.level }}</div>
        </div>
        <div class="row form-group">
            <div class="col-3"><strong>Evidence Direction</strong></div>
            <div class="col-2">{{ sub.evid_dir }}</div>
        </div>
        <div class="row form-group">
            <div class="col-3"><strong>Clinical Significance</strong></div>
            <div class="col-2">{{ sub.clin_sig }}</div>
        </div>
        <div class="row form-group">
            <div class="col-3"><strong>Drug / Class</strong></div>
            <div class="col-2">{{ sub.drug_class }}</div>
        </div>
        <div class="row form-group">
            <div class="col-3"><strong>Significance</strong></div>
            <div class="col-2">{{ sub.evid_rating }}</div>
        </div>
        {% endwith %}
        <hr/>
        {% endfor %}
    </div>
</div>
<br/>
{% endfor %}

</body>
</html>