{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load custom_tags %}

{% block content %}
<style>
    table {
        display: block;
        overflow-x: auto;
    }
</style>

<div class="card shadow my-5">
    <!-- Page Heading -->
    <form method="post" action="{% url 'upload' %}">
    {% csrf_token %}
    <div class="card-header d-flex flex-row align-items-center justify-content-between">
        <h5 class="text-primary">{{ title }}</h5>
        <div class="align-items-right">
            <button class="btn btn-primary" type="submit">Commit</button>
        </div>
    </div>

    <!-- Page Body -->
    <div class="card-body">
        <input name="variant_ids" value="{{ variant_ids }}" hidden>
        <h5>Existing Variants</h5>
        {% render_table exist %}
        <br/>
        <hr/>
        <br/>
        <h5>New Variants</h5>
        {% render_table new %}
    </div>
    </form>
</div>

<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
{% endblock %}

{% block script %}
<script>
    $('.selectAll').click(function(e){
        var table= $(e.target).closest('table');
        $('td input:checkbox',table).prop('checked',this.checked);
    });
</script>
{% endblock %}