.collapser {
    cursor: pointer;
}

hr {
    border-top: 1px solid rgb(201, 205, 209);
}

.col-custom {
    flex: 0 0 5%;
    max-width: 5%;
}

fieldset.box_fieldset {
    border: 1px groove #ffffff !important;
    padding: 0.7em 1.4em !important;
    margin: 1.5em;
    -webkit-box-shadow:  0 0 #000;
            box-shadow:  0 0 #000;
}

fieldset#level {
    border: 1px groove #ffffff !important;
    width: 100%;
    padding: 0.7em 1.4em !important;
}

legend {
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}