{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card mt-4">
    <div class="card-header d-flex">
        <h5 class="mr-auto"><strong>Detail</strong></h5>
        <div class="dropdown no-arrow">
            <a class="btn btn-default" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Options:</div>
                <a class="dropdown-item" href="#" onclick="window.print();return false;">Print</a>
                <a class="dropdown-item" href="{% url 'history' item.gene.name item.protein %}">History</a>
                <a class="dropdown-item" href="{% url 'export' item.gene.name item.protein %}">Export</a>
            </div>
        </div>
    </div>
    <div class="card-body container pt-5">
        {% include 'partials/_detail.html' %}
        <br/>

        {% for disease in item.diseases.all %}
        <div class="card mb-3">
            <div id="d{{ forloop.counter }}_collapse" class="card-header d-flex" data-toggle="collapse" data-target=".d{{ forloop.counter }}" onclick="collapse(this,1)">
                <h6 class="panel-title"><strong>Disease - {{ disease.name }}</strong></h6>
                <i id="d{{ forloop.counter }}_icon" class="fa fa-chevron-down ml-auto" aria-hidden="true"></i>
            </div>
            <div class="d{{ forloop.counter }} card-body ml-3 collapse">
                {% if disease.score.first %}

                <div class="row form-group">
                    <div class="col-2"><strong>Disease Name</strong></div>
                    <div class="col-10">{{disease.name}}</div>
                </div>
                <div class="row form-group">
                    <div class="col-2"><strong>MIM#</strong></div>
                    <div class="col-10">{{disease.others}}</div>
                </div>
                <div class="row form-group">
                    <div class="col-2"><strong>Disease Report</strong></div>
                    <div class="col-10">{{disease.report}}</div>
                </div>
            </div>
        </div>

        <div class="d{{ forloop.counter }} collapse card mb-3">
            <div class="card-header">2015 ACMG Score Result</div>
            <div class="card-body ml-3">
                <div class="row form-group">
                    <div class="col-3 offset-md-1">Evidence FOR Pathogenicity</div>
                    <div class="col-5"><input class="form-control" id="for_score" value="{{ disease.score.first.for_score }}" readonly></div>
                </div>
                <div class="row form-group">
                    <div class="col-3 offset-md-1">Evidence AGAINST Pathogenicity</div>
                    <div class="col-5"><input class="form-control" id="against_score" value="{{ disease.score.first.against_score }}" readonly></div>
                </div>
            </div>
        </div>

        {% regroup disease.evidences.all by item as dict_items %}

        <div class="d{{ forloop.counter }} collapse card mb-3">
            <div class="card-header">
                Evidence FOR Pathogenicity
            </div>
            <div class="card-body ml-3">
                {% for set in dict_items %}
                {% if 'P' in set.grouper.key and 'B' not in set.grouper.key %}
                <div class="row">
                    <div class="col-1">
                        <strong>{{ set.grouper }}</strong>
                    </div>
                    {% for evidence in set.list %}
                    {% if forloop.counter > 1 %}
                    <div class="row">
                        <div class="col-1"></div>
                        {% endif %}
                        <div class="col-3"><strong>Source Type</strong></div>
                        <div class="col-2">{{ evidence.get_source_type_display }}</div>
                    </div>
                    <div class="row">
                        <div class="offset-md-1 col-3"><strong>Source ID</strong></div>
                        <div class="col-2">{{ evidence.source_id }}</div>
                    </div>
                    <div class="row mb-4">
                        <div class="offset-md-1 col-3"><strong>Evidence Statement</strong></div>
                        <div class="col-6">{{ evidence.statement }}</div>
                        <div class="col-2">{{ evidence.histories.last }}</div>
                    </div>
                    {% endfor %}
                    <hr/>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="d{{ forloop.counter }} collapse card mb-3">
                <div class="card-header">
                    Evidence AGAINST Pathogenicity
                </div>
                <div class="card-body ml-3">
                    {% for set in dict_items %}
                    {% if 'B' in set.grouper.key %}
                    <div class="row">
                        <div class="col-1">
                            <strong>{{ set.grouper }}</strong>
                        </div>
                        {% for evidence in set.list %}
                        {% if forloop.counter > 1 %}
                        <div class="row">
                            <div class="col-1"></div>
                            {% endif %}
                            <div class="col-3"><strong>Source Type</strong></div>
                            <div class="col-2">{{ evidence.get_source_type_display }}</div>
                        </div>
                        <div class="row">
                            <div class="offset-md-1 col-3"><strong>Source ID</strong></div>
                            <div class="col-2">{{ evidence.source_id }}</div>
                        </div>
                        <div class="row mb-4">
                            <div class="offset-md-1 col-3"><strong>Evidence Statement</strong></div>
                            <div class="col-6">{{ evidence.statement }}</div>
                            <div class="col-2">{{ evidence.histories.last }}</div>
                        </div>
                        {% endfor %}
                        <hr/>
                        {% endif %}
                        {% endfor %}

                        {% else %}

                        {% for set in disease.functionals.all %}
                        {% if forloop.counter == 1 %}
                        <div class="row form-group">
                            <div class="col-3"><strong>Functional Significance</strong></div>
                            <div class="col-3">{{ set.key }}</div>
                        </div>
                        {% endif %}
                        <div class="row form-group">
                            <div class="col-3"><strong>Functional Class</strong></div>
                            <div class="col-3">{{ set.value }}</div>
                        </div>

                        {% for evidence in set.evidences.all %}
                        <div class="row form-group">
                            <div class="col-3"><strong>Source Type</strong></div>
                            <div class="col-7">{{ evidence.get_source_type_display }}</div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3"><strong>Source ID</strong></div>
                            <div class="col-7">{{ evidence.source_id }}</div>
                        </div>
                        <div class="row form-group mb-4">
                            <div class="col-3"><strong>Evidence Statement</strong></div>
                            <div class="col-7">{{ evidence.statement }}</div>
                            <div class="col-2">{{ evidence.histories.last }}</div>
                        </div>
                        {% endfor %}
                        <hr/>
                        {% endfor %}

                        <div class="row form-group">
                            <div class="col-3"><strong>Tier</strong></div>
                            <div class="col-7">{{ disease.others }}</div>
                        </div>

                        {% for evidence in disease.evidences.all %}
                        {% if evidence.subevidences.all.count > 0 %}
                        <div class="row form-group">
                            <div class="col-3"><strong>Source Type</strong></div>
                            <div class="col-7">{{ evidence.get_source_type_display }}</div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3"><strong>Source ID</strong></div>
                            <div class="col-7">{{ evidence.source_id }}</div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3"><strong>Evidence Statement</strong></div>
                            <div class="col-7">{{ evidence.statement }}</div>
                            <div class="col-2">{{ evidence.histories.last }}</div>
                        </div>
                        {% with sub=evidence.subevidences.first %}
                        <div class="row form-group">
                            <div class="col-3"><strong>Evidence Significance</strong></div>
                            <div class="col-7">{{ sub.evid_sig }}</div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3"><strong>Evidence Level</strong></div>
                            <div class="col-7">{{ sub.level }}</div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3"><strong>Evidence Direction</strong></div>
                            <div class="col-7">{{ sub.evid_dir }}</div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3"><strong>Clinical Significance</strong></div>
                            <div class="col-7">{{ sub.clin_sig }}</div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3"><strong>Drug / Class</strong></div>
                            <div class="col-7">{{ sub.drug_class }}</div>
                        </div>
                        <div class="row form-group">
                            <div class="col-3"><strong>Significance</strong></div>
                            <div class="col-7">{{ sub.evid_rating }}</div>
                        </div>
                        {% endwith %}
                        <hr/>
                        {% endif %}
                        {% endfor %}
                        <hr/>
                        <h6><strong><u>Reports</u></strong></h6>
                        {% for report in disease.reports.all %}
                        <div class="row form-group">
                            <div class="col-3"><strong>{{ report.name }}</strong></div>
                            <div class="col-9">{{ report.content }}</div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <br/>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script src="{% static 'add_evidence.js' %}"></script>
{% endblock %}