{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class='page-header mt-4 d-flex flex-row align-items-center justify-content-between border-bottom'>
        <h3>{{ title }}</h3>

        <div class='dropdown no-arrow my-2'>
            <a class='text-black-50' href='#' role='button' id='dropdownMenuLink' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
                <i class='fa fa-ellipsis-v fa-sm fa-fw text-gray-400'></i>
            </a>
            <div class='dropdown-menu dropdown-menu-right shadow animated--fade-in' aria-labelledby='dropdownMenuLink'>
                <div class='dropdown-header'>Options:</div>
                <a class='dropdown-item' href='{% url 'variant' item.gene.name item.protein %}'>Edit</a>
                <a class='dropdown-item' href='#' onclick='window.print();return false;'>Print</a>
                <a class='dropdown-item' href='{% url 'history' item.gene.name item.protein %}'>History</a>
                <a class='dropdown-item' href='{% url 'export' item.gene.name item.protein %}'>Export</a>
            </div>
        </div>
    </div>

    <div class='card my-5 card-body p-0'>
        {% include 'partials/_detail.html' %}
    </div>

    <div class='card my-5'>
        <div class='container-fluid m-0 p-0 row'>
            <div class='nav nav-tabs col-12 d-flex justify-content-start' id='nav-tab' role='tablist'>
                {% for disease in item.diseases.all %}
                    <a class='nav-link {% if forloop.counter0 == 0 %}active{% endif %}' href='#div{{ forloop.counter0 }}' data-bs-toggle='tab' role='tab' aria-controls='nav' aria-selected='false'>
                        {{ disease.branch | upper }} Disease: {{ disease.name }}
                    </a>
                {% endfor %}
            </div>

            <div class='p-0 tab-content' id='tab-content'>
                {% for disease in item.diseases.all %}

                    <div id='div{{ forloop.counter0 }}' class='tab-pane fade {% if forloop.counter0 == 0 %}active show{% endif %}' role='tabpanel' aria-labelledby='nav-tab'>
                        <div id='label' class='card-header container-fluid'>
                            <div class='row'>
                                <div class='h6 col-8 d-flex justify-content-start my-2'>
                                    {{ disease.name }} / {{ disease.get_reviewed_display }}
                                    {% if disease.reviewed != 'n' %}[: {% endif %}
                                    {% if disease.reviewed != 'n' %}
                                        {{ disease.reviewed_date|date:'N j, Y' }}
                                    {% elif disease.reviewed != 'n' and disease.reviewed != 'r' and disease.meta_review_user %}
                                        {{ disease.meta_reviewed_date|date:'N j, Y' }}
                                    {% elif disease.reviewed == 'a' %}
                                        {{ disease.approved_date|date:'N j, Y' }}
                                    {% endif %}{% if disease.reviewed != 'n' %}]{% endif %}
                                </div>

                                <div class='col-4 d-flex justify-content-end form-check-inline h6 my-auto' style='margin-right: 0'>
                                    Branch: {{ disease.get_branch_display }}
                                </div>
                            </div>
                        </div>

                        <div class='card-body container pb-0'>
                            <dl class='row my-2'>
                                <dt class='col-4'>Disease Name</dt>
                                <dd class='col-8'>{{ disease.name }}</dd>
                            </dl>
                        </div>

                        {% if disease.branch == 'so' %}

                            {% if disease.functionals.count > 0 %}
                                {% for func in disease.functionals.all %}

                                    {% if forloop.counter0 == 0 %}
                                        <div class='card-body container pt-0'>
                                            <dl class='row'>
                                                <dt class='col-4'>Functional Significance</dt>
                                                <dd class='col-8'>{{ func.key }}</dd>
                                            </dl>
                                        </div>
                                    {% endif %}

                                    <div id='func_cat'>
                                        <div class='card-header border-top justify-content-between d-flex'>
                                            <div class='h6 mr-auto my-2'>Functional Evidences</div>
                                        </div>

                                        <div class='func_evid d{{ form.name.id_for_label }}_func'>
                                            <div id='form{{ form.name }}' class='card-body container border-bottom'>
                                                <dl class='row'>
                                                    <dt class='col-4'>Functional Category</dt>
                                                    <dd class='col-8'>{{ func.value }}</dd>
                                                </dl>
                                            </div>
                                        </div>

                                        {% for evid in func.evidences.all %}
                                            <div id='form{{ evid.name }}' class='card-body container'>
                                                <dl class='row'>
                                                    <dt class='col-4'>Source Type</dt>
                                                    <dd class='col-8'>{{ evid.get_source_type_display }}</dd>

                                                    <dt class='col-4'>Source ID</dt>
                                                    <dd class='col-8'>{{ evid.source_id }}</dd>

                                                    <dt class='col-4'>Statement</dt>
                                                    <dd class='col-8'>{{ evid.statement }}</dd>
                                                </dl>
                                            </div>
                                        {% endfor %}
                                    </div>

                                {% endfor %}
                            {% endif %}

                        {% else %}

                            <div class='card-body container pt-0'>
                                <dl class='row form-group my-2'>
                                    <dt class='col-4'>Germline Clinical Report</dt>
                                    <dd class='col-4'>{{ disease.report }}</dd>
                                </dl>
                            </div>

                            <div id='score'>
                                <div class='card-header justify-content-between'>
                                    <div class='h6 mr-auto my-2'>2015 ACMG Score</div>
                                </div>

                                <div id='score' class='card-body container'>
                                    <dl class='row form-group my-2'>
                                        <dt class='col-4'>ACMG Classification</dt>
                                        <dd class='col-8'>{{ disease.score.content }}</dd>

                                        <dt class='col-4'>For Pathogenicity</dt>
                                        <dd class='col-8'>{{ disease.score.for_score }}</dd>

                                        <dt class='col-4'>Against Pathogenicity</dt>
                                        <dd class='col-8'>{{ disease.score.against_score }}</dd>
                                    </dl>
                                </div>
                            </div>

                            <div id='score_items'>
                                {% regroup disease.evidences.all by item.key.0 as dict_items %}

                                <div class='card-header border-top justify-content-between d-flex'>
                                    <div class='h6 mr-auto my-2'>
                                        {% if form.grouper == 'P' %}For{% else %}Against{% endif %} Pathogenicity
                                    </div>
                                </div>

                                <div id='for_score' class='card-body container'>
                                    {% for set in dict_items %}


                                        <strong class='row my-3 col-12'>
                                            {{ set.list.0.item }}: {{ set.list.0.item.content }}
                                        </strong>

                                        {% for evid in set.list %}
                                            <dl class='row form-group my-2'>
                                                <dt class='col-4'>Source Type</dt>
                                                <dd class='col-8'>{{ evid.get_source_type_display }}</dd>

                                                <dt class='col-4'>Source ID</dt>
                                                <dd class='col-8'>{{ evid.source_id }}</dd>

                                                <dt class='col-4'>Statement</dt>
                                                <dd class='col-8'>{{ evid.statement }}</dd>
                                            </dl>
                                        {% endfor %}

                                    {% endfor %}
                                </div>
                            </div>

                        {% endif %}
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src='{% static 'js/add_evidence.js' %}'></script>
{% endblock %}