{% extends 'base.html' %}
{% load custom_tags static %}


{% block content %}
    <div class='page-header mt-4 d-flex flex-row align-items-center justify-content-between border-bottom'>
        <h3>{{ title }}</h3>
    </div>

    <div class='card my-5 card-body p-0'>
        {% include 'partials/_detail.html' %}
    </div>

    <div class='card my-5'>
        <form id='save_form' action='{% url 'variant' item.gene.name item.protein %}' method='POST' class='container-fluid m-0 p-0 row'>
            {% csrf_token %}

            <div class='nav nav-tabs col-9 d-flex justify-content-start' id='nav-tab' role='tablist' onclick='change_required()'>
                {% with subform=form.empty_form %}
                    <input class='empty-form nav-item nav-link py-auto active' id='empty_link' type='button' value='New Interpretation' href='#prefix' data-bs-toggle='tab' role='tab' aria-controls='nav-new' aria-selected='true'>
                {% endwith %}

                {% for subform in form.forms %}
                    <input class='nav-item nav-link py-auto' type='button' value='{{ subform.branch.value | upper }} Disease: {{ subform.name.value }}' href='#id_{{ subform.prefix }}-div{{ forloop.counter0 }}' data-bs-toggle='tab' role='tab' aria-controls='nav-{{ subform.prefix }}'
                           aria-selected='false' {% if subform.branch.value == 'no' %}hidden{% endif %}>
                {% endfor %}
            </div>

            <div class='nav nav-tabs col-3 d-flex justify-content-end p-0 form-inline' id='nav-tab' role='tablist'>
                <input class='nav-item nav-link py-auto' type='button' value='Add Interpretation' role='tab' onclick='add_disease(this)'>
                <input class='nav-item nav-link py-auto' type='submit' value='Save' role='tab'>
            </div>

            <div class='p-0 tab-content' id='tab-content'>
                <div id='management_forms'>
                    {{ form.management_form }}
                    {{ form.non_form_errors }}

                    {{ child_forms.0.management_form }}
                    {{ child_forms.1.management_form }}
                    {{ subchild_forms.0.management_form }}
                    {{ subchild_forms.1.management_form }}
                    {{ report_form.management_form }}
                </div>

                <fieldset id='prefix' class='tab-pane fade show active'>
                    <div class='card-header container-fluid row m-0'>
                        <div class='h6 col-8 d-flex justify-content-start my-2'>No New Disease</div>
                    </div>
                </fieldset>

                {% for subform in form.forms %}
                    {% include 'partials/_disease.html' %}
                {% endfor %}

                {% for elem in empty_forms %}
                    {% with subform=form.empty_form %}
                        {% include 'partials/_disease.html' %}
                    {% endwith %}
                {% endfor %}
            </div>
        </form>
    </div>
{% endblock %}


{% block script %}
    <script src='{% static 'js/add_evidence.js' %}'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js' integrity='sha512-ltwjKsDTo3hW/wV66ZaEkf2wOAFxmg7rWM76J8kOcYKLSKy44WBYO/BFaNNH3NGDS8BSz3meB9wtSnm41oL+pA==' crossorigin='anonymous'></script>
    <script>
        $(':input').removeAttr('required');

        function get_report(element) {
            const disease_id = element.id.split('_')[0];
            const disease_name = element.value;

            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    const disease = JSON.parse(this.responseText)[0];
                    if (typeof disease !== 'undefined') { // && disease !== null) {
                        if (disease.hasOwnProperty('gene') && disease['gene'] === {{ item.gene.pk }}) {
                            document.getElementById(disease_id + '_gdr').value = disease['gdr'];
                        }

                        if (disease.hasOwnProperty('variant') && disease['variant'] === {{ item.pk }}) {
                            document.getElementById(disease_id + '_vdr').value = disease['vdr'];
                        }
                    } else {
                        document.getElementById(disease_id + '_gdr').value = '';
                    }
                }
            };
            xhttp.open('GET', '/api/disease/' + disease_name + '/', true);
            xhttp.send();
        }
    </script>
{% endblock %}