{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class='card mt-4'>
        <div class='card-header'>
            <h5 class="mr-auto my-auto"><strong>Edit</strong></h5>
        </div>
        <form action='{% url 'save_variant' item.gene.name item.protein %}' method='post'>
            <div class="card-body">
                {% csrf_token %}
                <fieldset class='card-body container pt-5'>
                    {% include 'partials/_detail.html' %}
                    <fieldset id='diseases'>
                        <div id='add' class='row mt-2 mb-2'>
                            <div class='col-3 offset-md-9 text-right pr-5'>
                                <button class='btn btn-primary btn-sm' type='button' data-toggle='modal' data-target='#dtypeModal'>Add Interpretation</button>
                            </div>
                        </div>
                        <div id='d0' class='card my-5' hidden>
                            <div class="card-header">
                                <label id='d0_label' for='d0_id' class='h6'>Germline Pathogenicity - [Disease]</label><input id='d0_id' name='d0_id' hidden>
                                <label for='d0_branch' hidden></label><input id='d0_branch' name='d0_branch' value='gp' hidden>
                            </div>
                            <div class="card-body">
                                <div class='row mx-2'>
                                    <div class='col-6 form-group'>
                                        <label for='d0_disease'>Disease</label>
                                        <input class='form-control' id='d0_disease' name='d0_disease'>
                                    </div>
                                    <div class='col-6 form-group'>
                                        <label for='d0_others'>MIM#</label>
                                        <input class='form-control' id='d0_others' name='d0_others'>
                                    </div>
                                </div>

                                <div class='row form-group mx-2'>
                                    <div class='col-12'>
                                        <label for='d0_desc'>Germline Gene-Disease</label>
                                        <textarea class='form-control' id='d0_desc' name='d0_desc'></textarea>
                                    </div>
                                </div>

                                <fieldset class='box_fieldset sticky-top bg-white'>
                                    <legend class='h6 bg-white'>2015 ACMG Classification</legend>
                                    <div class='ml-3'>
                                        <div class='row form-group'>
                                            <div class='col-3 offset-md-1'><label for='d0_for_score'>Evidence FOR Pathogenicity</label></div>
                                            <div class='col-5'><input class='form-control' id='d0_for_score' name='d0_for_score' readonly></div>
                                        </div>
                                        <div class='row form-group'>
                                            <div class='col-3 offset-md-1'><label for='d0_against_score'>Evidence AGAINST Pathogenicity</label></div>
                                            <div class='col-5'><input class='form-control' id='d0_against_score' name='d0_against_score' readonly></div>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset class='box_fieldset'>
                                    <legend class='h6'>
                                        <a id='d0_for_collapse' class='collapsed' href='' data-toggle='collapse' data-target='#d0_for' onclick='collapse(this,2)'>Expand Evidence FOR Pathogenicity</a>
                                    </legend>

                                    <div class='ml-3 collapse' id='d0_for'>
                                        {% for item in items %}
                                            {% if 'P' in item.key and 'B' not in item.key %}
                                                <fieldset id='d0_{{ item }}_fields'>
                                                    <fieldset id='d0_{{ item }}_field'>
                                                        <div class='row form-group'>
                                                            <div class='form-check col-1'>
                                                                <label class='form-check-label'><input class='form-check-input' type='checkbox' name='d0' id='d0_{{ item }}' value='{{ item.value }}' onclick='select_evidence(this)'>{{ item }}</label>
                                                            </div>
                                                            <div class='col-1'><label for='d0_{{ item }}_id1'>Source</label><input id='d0_{{ item }}_id1' name='d0_{{ item }}_id' hidden></div>

                                                            <div class='input-group col-8'>
                                                                <div class='input-group-prepend' style='width: 30%'>
                                                                    <label for='d0_{{ item }}_st1'></label><select class='custom-select' id='d0_{{ item }}_st1' name='d0_{{ item }}_st' disabled>
                                                                    <option disabled selected>Source Type</option>
                                                                    <option value='PM'>PMID</option>
                                                                    <option value='O'>Others</option>
                                                                </select>
                                                                </div>
                                                                <label for='d0_{{ item }}_s1'></label><input class='form-control' id='d0_{{ item }}_s1' name='d0_{{ item }}_s' placeholder='Source ID' disabled>
                                                            </div>
                                                            <div class='col-2 text-right'>
                                                                <button class='btn btn-primary btn-sm' type='button' id='d0_{{ item }}_btn' onclick='add_evidence(this)' disabled>Add Evidence</button>
                                                            </div>
                                                        </div>
                                                        <div class='row form-group mb-4'>
                                                            <div class='col-1 offset-md-1'><label for='d0_{{ item }}_e1'>Evidence Statement</label></div>
                                                            <div class='col-8'><textarea class='form-control' id='d0_{{ item }}_e1' name='d0_{{ item }}_e' disabled></textarea></div>
                                                        </div>
                                                    </fieldset>
                                                </fieldset>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </fieldset>

                                <fieldset class='box_fieldset'>
                                    <legend class='h6'>
                                        <a id='d0_against_collapse' class='collapsed' href='' data-toggle='collapse' data-target='#d0_against' onclick='collapse(this,2)'>Expand Evidence AGAINST Pathogenicity</a>
                                    </legend>
                                    <div class='ml-3 collapse' id='d0_against'>
                                        {% for item in items %}
                                            {% if 'B' in item.key %}
                                                <fieldset id='d0_{{ item }}_fields'>
                                                    <fieldset id='d0_{{ item }}_field'>
                                                        <div class='row form-group'>
                                                            <div class='form-check col-1'>
                                                                <label class='form-check-label'><input class='form-check-input' type='checkbox' name='d0' id='d0_{{ item }}' value='{{ item.value }}' onclick='select_evidence(this)'>{{ item }}</label>
                                                            </div>
                                                            <div class='col-1'><label>Source</label><input id='d0_{{ item }}_id1' name='d0_{{ item }}_id' hidden></div>
                                                            <div class='input-group col-8'>
                                                                <div class='input-group-prepend' style='width: 30%'>
                                                                    <select class='custom-select' id='d0_{{ item }}_st1' name='d0_{{ item }}_st' disabled>
                                                                        <option disabled selected>Source Type</option>
                                                                        <option value='PM'>PMID</option>
                                                                        <option value='O'>Others</option>
                                                                    </select>
                                                                </div>
                                                                <input class='form-control' id='d0_{{ item }}_s1' name='d0_{{ item }}_s' placeholder='Source ID' disabled>
                                                            </div>
                                                            <div class='col-2 text-right'>
                                                                <button class='btn btn-primary btn-sm' type='button' id='d0_{{ item }}_btn' onclick='add_evidence(this)' disabled>Add Evidence</button>
                                                            </div>
                                                        </div>
                                                        <div class='row form-group mb-4'>
                                                            <div class='col-1 offset-md-1'><label>Evidence Statement</label></div>
                                                            <div class='col-8'><textarea class='form-control' id='d0_{{ item }}_e1' name='d0_{{ item }}_e' disabled></textarea></div>
                                                        </div>
                                                    </fieldset>
                                                </fieldset>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </fieldset>

                                <fieldset class='box_fieldset'>
                                    <legend class='h6'>For Annotation Specialist and Scientist Use Only</legend>
                                    <div class='row form-group'>
                                        <div class='custom-control custom-control-inline offset-md-1 form-check'>
                                            <input type='checkbox' class='form-check-input' id='d0_review' name='d0_review' value='r' disabled>
                                            <label class='form-check-label' for='d0_review'>Reviewed</label>
                                        </div>
                                        <div class='col-1'></div>
                                        <div class='custom-control custom-control-inline form-check'>
                                            <input type='checkbox' class='form-check-input' id='d0_meta_review' name='d0_review' value='m' disabled>
                                            <label class='form-check-label' for='d0_meta_review'>Secondly Reviewed<!--Meta-Reviewed--></label>
                                        </div>
                                        <div class='col-1'></div>
                                        <div class='custom-control custom-control-inline form-check'>
                                            <input type='checkbox' class='form-check-input' id='d0_approve' name='d0_review' value='a' disabled>
                                            <label class='form-check-label' for='d0_approve'>Approved</label>
                                        </div>
                                    </div>
                                    <div class='row form-group'>
                                        <input id='d0_notes_id' name='d0_notes_id' aria-label='d1_notes'>
                                        <div class='custom-control-inline col-12'>
                                            <input id='d0_notes_name' name='d0_notes_name' value='Curation Notes' aria-label='d1_notes'>
                                            <label class='my-auto col-2' for='d0_notes'>Curation Notes</label>
                                            <textarea class='form-control col-10' id='d0_notes' name='d1_notes'></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div id='d1' class='card my-4' hidden>
                            <div class="card-header">
                                <label id='d1_label' for='d1_id' class='h6'>Somatic Oncogenicity - [Disease]</label><input id='d1_id' name='d1_id' hidden>
                                <label for='d1_branch' hidden></label><input id='d1_branch' name='d1_branch' value='so' hidden>
                            </div>
                            <div class="card-body">
                                <div class='row form-group ml-2 mt-2'>
                                    <div class='col-6'>
                                        <label for='d1_disease'>Disease</label>
                                        <input class='form-control' id='d1_disease' name='d1_disease' oninput='get_report(this)'>
                                    </div>
                                </div>

                                <fieldset class='box_fieldset' id='d1_f_classes'>
                                    <legend class='h6'>
                                        <a id='d1_fc0_collapse' class='collapsed' data-toggle='collapse' data-target='#d1_func_classes' onclick='collapse(this,2)' href=''>Expand Functional Significance - [Functional Significance]</a>
                                    </legend>
                                    <div id="d1_func_classes" class='collapse'>
                                        <div class='form-row'>
                                            <div class='col-6 form-group pr-3'>
                                                <label for='d1_func_sig'>Functional Significance</label>
                                                <select class='form-control' id='d1_func_sig' name='d1_func_sig'>
                                                    <option disabled selected>Select</option>
                                                    <option>Established</option>
                                                    <option>Likely</option>
                                                    <option>Predicted</option>
                                                    <option>VUS</option>
                                                    <option>Benign</option>
                                                </select>
                                            </div>
                                            <div class='d-flex justify-content-end offset-md-3 col-3 my-4'>
                                                <button type='button' class='btn btn-primary btn-sm' id='d1_fc0_add' name='d1_fc0_add' onclick='add_f_class(this)'>Add Functional Category</button>
                                            </div>
                                        </div>
                                        <fieldset class='my-0' id='d1_fc0' hidden>
                                            <fieldset id='d1_fc_box0' class='mb-3'>
                                                <div class='row mb-2'>
                                                    <div class='col-6 form-group'>
                                                        <label for='d1_fc0_id'>Functional Category</label><input id='d1_fc0_id' name='d1_fc0_id' hidden>
                                                        <label for='d1_fc0_func_class'></label><select class='form-control' id='d1_fc0_func_class' name='d1_fc0'>
                                                        <option disabled selected>Select</option>
                                                        <option>GOF</option>
                                                        <option>LOF</option>
                                                        <option>TP53 functional</option>
                                                        <option>TP53 non-functional</option>
                                                        <option>BRAF Class I</option>
                                                        <option>BRAF Class II</option>
                                                        <option>BRAF Class III</option>
                                                    </select>
                                                    </div>
                                                </div>
                                                <hr class='double-hr'/>

                                                <div class='d-flex'>
                                                    <div class='mr-auto h6'>Evidences</div>
                                                    <div class='ml-auto'>
                                                        <button type='button' class='btn btn-primary btn-sm' id='d1_fc0_btn' onclick='add_evidence_type1(this)'>Add Functional Evidence</button>
                                                    </div>
                                                </div>
                                                <fieldset id='d1_fc0_evidences1'>
                                                    <fieldset id='d1_fc0_etype1_1'>
                                                        <div class='row form-group'>
                                                            <div class='col-12'>
                                                                <label for='d1_fc0_etype1_id1'>Source</label><input id='d1_fc0_etype1_id1' name='d1_fc0_etype1_id' hidden>
                                                                <div class='input-group'>
                                                                    <div class='input-group-prepend' style='width: 30%'>
                                                                        <label for='d1_fc0_etype1_st1'></label><select class='custom-select' id='d1_fc0_etype1_st1' name='d1_fc0_etype1_st'>
                                                                        <option disabled selected>Source Type</option>
                                                                        <option value='PM'>PMID</option>
                                                                        <option value='O'>Others</option>
                                                                    </select>
                                                                    </div>
                                                                    <label for='d1_fc0_etype1_s1'></label><input class='form-control' id='d1_fc0_etype1_s1' name='d1_fc0_etype1_s' placeholder='Source ID'>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class='row form-group'>
                                                            <div class='col-12'>
                                                                <label for='d1_fc0_etype1_e1'>Evidence Statement</label>
                                                                <textarea class='form-control' id='d1_fc0_etype1_e1' name='d1_fc0_etype1_e'></textarea>
                                                            </div>
                                                        </div>
                                                        <br/>
                                                    </fieldset>
                                                </fieldset>
                                            </fieldset>
                                        </fieldset>
                                    </div>
                                </fieldset>

                                <fieldset class='box_fieldset'>
                                    <legend class='h6'>
                                        <a id='d1_tier_collapse' class='collapsed' data-toggle='collapse' data-target='#d1_tier' onclick='collapse(this,2)' href=''>Expand Actionability Tier - [AMP/ASCO Tier]</a>
                                    </legend>
                                    <fieldset id='d1_tier' class='collapse'>
                                        <div class='row mb-2'>
                                            <div class='col-12 form-group'>
                                                <label for='d1_others'>AMP/ASCO Tier</label>
                                                <select class='form-control' id='d1_others' name='d1_others'>
                                                    <option>Tier I</option>
                                                    <option>Tier II</option>
                                                    <option>Tier III</option>
                                                    <option>Tier VI</option>
                                                </select>
                                            </div>
                                        </div>
                                        <hr class='double-hr'/>

                                        <div class='d-flex'>
                                            <div class='mr-auto h6'>Evidences</div>
                                            <div class='ml-auto'>
                                                <button type='button' class='btn btn-primary btn-sm' id='d1_etype2' onclick='add_evidence_type2(this)'>Add Actionability Evidence</button>
                                            </div>
                                        </div>
                                        <fieldset id='d1_evidences2'>
                                            <fieldset id='d1_etype2_1'>
                                                <div class='row form-group'>
                                                    <div class='col-12'>
                                                        <label for='d1_etype2_id1'>Source</label><input id='d1_etype2_id1' name='d1_etype2_id' hidden>
                                                        <div class='input-group'>
                                                            <div class='input-group-prepend' style='width: 30%'>
                                                                <label for='d1_etype2_st1'></label><select class='custom-select' id='d1_etype2_st1' name='d1_etype2_st'>
                                                                <option disabled selected>Source Type</option>
                                                                <option value='PM'>PMID</option>
                                                                <option value='O'>Others</option>
                                                            </select>
                                                            </div>
                                                            <label for='d1_etype2_s1'></label><input class='form-control' id='d1_etype2_s1' name='d1_etype2_s' placeholder='Source ID'>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='row form-group mt-2'>
                                                    <div class='col-12'>
                                                        <label for='d1_etype2_e1'>Evidence Statement</label>
                                                        <textarea class='form-control' id='d1_etype2_e1' name='d1_etype2_e'></textarea>
                                                    </div>
                                                </div>
                                                <div class='row'>
                                                    <div class='col-6 form-group'>
                                                        <label for='d1_etype2_sig1'>Evidence Significance</label>
                                                        <select class='form-control' id='d1_etype2_sig1' name='d1_etype2_sig'>
                                                            <option value='Pred'>Predictive</option>
                                                            <option value='Prog'>Prognostic</option>
                                                            <option value='Diag'>Diagnostic</option>
                                                        </select>
                                                    </div>
                                                    <div class='col-6 form-group'>
                                                        <label for='d1_etype2_level1'>Evidence Level</label>
                                                        <select class='form-control' id='d1_etype2_level1' name='d1_etype2_level'>
                                                            <option>A</option>
                                                            <option>B</option>
                                                            <option>C</option>
                                                            <option>D</option>
                                                            <option>E</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class='row'>
                                                    <div class='col-6 form-group'>
                                                        <label for='d1_etype2_dir1'>Evidence Direction</label>
                                                        <select class='form-control' id='d1_etype2_dir1' name='d1_etype2_dir'>
                                                            <option value=True>Support</option>
                                                            <option value=False>Does not support</option>
                                                        </select>
                                                    </div>
                                                    <div class='col-6 form-group'>
                                                        <label for='d1_etype2_clin_sig1'>Clinical Significance</label>
                                                        <select class='form-control' id='d1_etype2_clin_sig1' name='d1_etype2_clin_sig'>
                                                            <option>Pred: Resistance</option>
                                                            <option>Pred: Adverse Response</option>
                                                            <option>Pred: Reduced Sensitivity</option>
                                                            <option>Prog: Better Outcome</option>
                                                            <option>Prog: Poorer Outcome</option>
                                                            <option>Dx: Positive Diagnosis</option>
                                                            <option>Dx: Negative Diagnosis</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class='row'>
                                                    <div class='col-6 form-group'>
                                                        <label for='d1_etype2_drug1'>Drug/Drug Class/Dx</label>
                                                        <input class='form-control' id='d1_etype2_drug1' name='d1_etype2_drug'>
                                                    </div>
                                                    <div class='col-6 form-group'>
                                                        <label for='d1_etype2_rating1'>Evidence Rating</label>
                                                        <select class='form-control' id='d1_etype2_rating1' name='d1_etype2_rating'>
                                                            <option value=1>1 Star</option>
                                                            <option value=2>2 Stars</option>
                                                            <option value=3>3 Stars</option>
                                                            <option value=4>4 Stars</option>
                                                            <option value=5>5 Stars</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <hr/>
                                                <br/>
                                            </fieldset>
                                        </fieldset>
                                    </fieldset>
                                </fieldset>

                                <fieldset class='box_fieldset'>
                                    <legend class='h6'>
                                        <a class='collapsed' id='d1_report_collapse' href='' data-toggle='collapse' data-target='#d1_report' onclick='collapse(this,2)'>Expand Report Text</a>
                                    </legend>
                                    <div id='d1_report' class='row form-group collapse'>
                                        <div class='col-12'>
                                            <label for='gene_report'>Gene-Descriptive</label>
                                            <textarea class='form-control' id='gene_report' name='gene_report' onchange='copyReport(this)'>{{ item.gene.content }}</textarea>
                                        </div>
                                    </div>
                                    <div id='d1_report' class='row form-group collapse'>
                                        <div class='col-12'>
                                            <label for='variant_report'>Variant-Descriptive</label>
                                            <textarea class='form-control' id='variant_report' name='variant_report' onchange='copyReport(this)'></textarea>
                                        </div>
                                    </div>
                                    <div id='d1_report' class='row form-group collapse'>
                                        <div class='col-12'>
                                            <label for='d1_gdr_id'>Gene-Disease</label><input id='d1_gdr_id' name='d1_report_id' hidden>
                                            <label for='d1_gdr_name'></label><input id='d1_gdr_name' name='d1_report_name' value='Gene-Disease' hidden>
                                            <label for='d1_gdr'></label><textarea class='form-control' id='d1_gdr' name='d1_report'></textarea>
                                        </div>
                                    </div>
                                    <div id='d1_report' class='row form-group collapse'>
                                        <div class='col-12'>
                                            <label for='d1_vdr_id'>Variant-Disease</label><label for='d1_vdr_id'></label><input id='d1_vdr_id' name='d1_report_id' hidden>
                                            <label for='d1_vdr_name'></label><input id='d1_vdr_name' name='d1_report_name' value='Variant-Disease' hidden>
                                            <label for='d1_vdr'></label><textarea class='form-control' id='d1_vdr' name='d1_report'></textarea>
                                        </div>
                                    </div>
                                    <div id='d1_report' class='row form-group collapse'>
                                        <div class='col-12'>
                                            <label for='ggir'>Gene-Germline Implications</label>
                                            <textarea class='form-control' id='ggir' name='gene_germline_report' onchange='copyReport(this)'>{{ item.gene.germline_content }}</textarea>
                                        </div>
                                    </div>
                                    <div id='d1_report' class='row form-group collapse'>
                                        <div class='col-12'>
                                            <label for='vgir'>Variant-Germline Implications</label>
                                            <textarea class='form-control' id='vgir' name='variant_germline_report' onchange='copyReport(this)'></textarea>
                                        </div>
                                    </div>
                                </fieldset>

                                <fieldset class='box_fieldset'>
                                    <legend class='h6'>For Annotation Specialist and Scientist Use Only</legend>
                                    <div class='row form-group'>
                                        <div class='custom-control custom-control-inline offset-md-1 form-check'>
                                            <input type='checkbox' class='form-check-input' id='d1_review' name='d1_review' value='r' disabled>
                                            <label class='form-check-label' for='d1_review'>Reviewed</label>
                                        </div>
                                        <div class='col-1'></div>
                                        <div class='custom-control custom-control-inline form-check'>
                                            <input type='checkbox' class='form-check-input' id='d1_meta_review' name='d1_review' value='a' disabled>
                                            <label class='form-check-label' for='d1_meta_review'>Approved</label>
                                        </div>
                                    </div>
                                    <div class='row form-group'>
                                        <input id='d1_notes_id' name='d1_notes_id' aria-label='d1_notes' hidden>
                                        <div class='custom-control-inline col-12'>
                                            <input id='d1_notes_name' name='d1_notes_name' value='d1_notes' aria-label='d1_notes' hidden>
                                            <label class='my-auto col-2' for='d1_notes'>Curation Notes</label>
                                            <textarea class='form-control col-10' id='d1_notes' name='d1_notes'></textarea>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </fieldset>
                </fieldset>
            </div>

            <div class='card-footer'>
                <div class='container'>
                    <div class='row form-group'>
                        <div class='col-2 offset-md-4'>
                            <button class='btn btn-primary btn-block' type='submit' onclick='return updateMsg();'>Save</button>
                        </div>
                        <div class='col-2'>
                            <button class='btn btn-outline-primary btn-block' type='button' onclick='history.back();'>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block modal %}
    <!--Disease Type Modal-->
    <div class='modal fade' id='dtypeModal' tabindex='-1' aria-labelledby='dtypeModal' aria-hidden='true'>
        <div class='modal-dialog' role='document'>
            <div class='card shadow modal-content'>
                <!-- Card Header -->
                <div class='card-header py-3 d-flex flex-row align-items-center justify-content-between'>
                    <h5 class='modal-title'>Disease Branch</h5>
                    <button class='close' type='button' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>×</span>
                    </button>
                </div>

                <!-- Card Body -->
                <div class='card-body'>
                    <div class='container'>
                        <div class='row form-group'>
                            <div class='col-6 form-check'>
                                <input type='radio' class='form-check-input' name='dtype' id='so' value='so' checked>
                                <label class='form-check-label' for='so'>Somatic Oncogenicity</label>
                            </div>
                            <div class='col-6 form-check'>
                                <input type='radio' class='form-check-input' name='dtype' id='gp' value='gp'>
                                <label class='form-check-label' for='gp'>Germline Pathogenicity</label>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Card Footer -->
                <div class='card-footer'>
                    <div class='row form-group'>
                        <div class='col-4 offset-md-2'>
                            <button class='btn btn-primary btn-block' type='button' data-dismiss='modal' onclick='add_disease()'>Add</button>
                        </div>
                        <div class='col-4'>
                            <button class='btn btn-outline-primary btn-block' type='button' data-dismiss='modal'>Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src='{% static 'add_evidence.js' %}'></script>
    <script>
        function get_report(element) {
            const disease_id = element.id.split('_')[0];
            const disease_name = element.value;

            const xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    const disease = JSON.parse(this.responseText)[0];
                    if (typeof disease !== 'undefined') { // && disease !== null) {
                        if (disease.hasOwnProperty('gene') && disease['gene'] === {{ item.gene.pk }}) {
                            document.getElementById(disease_id + '_gdr').value = disease['gdr'];
                        }

                        if (disease.hasOwnProperty('variant') && disease['variant'] === {{ item.pk }}) {
                            document.getElementById(disease_id + '_vdr').value = disease['vdr'];
                        }
                    } else {
                        document.getElementById(disease_id + '_gdr').value = '';
                    }
                }
            };
            xhttp.open('GET', '/api/disease/' + disease_name + '/', true);
            xhttp.send();
        }

        $(document).ready(function () {
            if ('{{ user.specialist }}'.localeCompare('True') === 0) {
                document.getElementById('d0_review').removeAttribute('disabled')
                document.getElementById('d1_review').removeAttribute('disabled')
            }

            let element, func_class, disease, index, field_partname, i, j;
            {% for disease in item.diseases.all %}
                i = {{ forloop.counter }} +1;
                disease = add_disease('{{ disease.branch }}');
                const dx_label = document.getElementById(disease.id + '_label');
                dx_label.innerText = dx_label.innerText.replace('[Disease]', '{{ disease.name }}');
                {% if disease.score.first %}
                    field_partname = 'd' + i.toString();
                    document.getElementById(field_partname + '_id').value = '{{ disease.id }}';
                    document.getElementById(field_partname + '_disease').value = '{{ disease.name }}';
                    document.getElementById(field_partname + '_desc').value = '{{ disease.report|escapejs }}';

                    {% for evidence in disease.evidences.all %}
                        element = document.getElementById(field_partname + '_{{ evidence.item }}')

                        element.setAttribute('checked', '');
                        select_evidence(element);

                        j = 1;
                        while (document.getElementById(field_partname + '_{{ evidence.item }}_id' + j.toString()).value.length > 0) {
                            add_evidence(document.getElementById(field_partname + '_{{ evidence.item }}_btn'));
                            j++;
                        }
                        document.getElementById(field_partname + '_{{ evidence.item }}_id' + j.toString()).value = '{{evidence.id}}';
                        document.getElementById(field_partname + '_{{ evidence.item }}_st' + j.toString()).value = '{{evidence.source_type}}';
                        document.getElementById(field_partname + '_{{ evidence.item }}_s' + j.toString()).value = '{{evidence.source_id}}';
                        document.getElementById(field_partname + '_{{ evidence.item }}_e' + j.toString()).value = '{{evidence.statement}}';
                    {% endfor %}
                    calculate_score(document.getElementById(field_partname + '_id'));

                {% else %}
                    document.getElementById(disease.id + '_id').value = '{{ disease.id }}';
                    document.getElementById(disease.id + '_disease').value = '{{ disease.name }}';
                    {% if disease.functionals.count == 0 %}
                        add_f_class(disease);
                    {% else %}
                        const func_sig = document.getElementById(disease.id + '_fc0_collapse');
                        func_sig.innerText = func_sig.innerText.replace('[Functional Significance]', '{{ disease.functionals.first.key }}');
                    {% endif %}

                    {% for func in disease.functionals.all %}
                        func_class = add_f_class(disease);
                        document.getElementById(func_class.id + '_id').value = '{{ func.id }}';
                        document.getElementById(disease.id + '_func_sig').value = '{{ func.key }}';
                        document.getElementById(func_class.id + '_func_class').value = '{{ func.value }}';

                        const btn = document.getElementById(func_class.id + '_btn');
                        {% for evidence in func.evidences.all %}
                            {% if forloop.counter > 1 %}
                                add_evidence_type1(btn);
                            {% endif %}
                            document.getElementById(func_class.id + '_etype1_id{{ forloop.counter }}').value = '{{ evidence.id }}';
                            document.getElementById(func_class.id + '_etype1_st{{ forloop.counter }}').value = '{{ evidence.source_type }}';
                            document.getElementById(func_class.id + '_etype1_s{{ forloop.counter }}').value = '{{ evidence.source_id }}';
                            document.getElementById(func_class.id + '_etype1_e{{ forloop.counter }}').value = '{{ evidence.statement }}';
                        {% endfor %}
                    {% endfor %}

                    index = 0
                    {% for evidence in disease.evidences.all %}
                        document.getElementById(disease.id + '_others').value = '{{ disease.others }}';
                        const tier = document.getElementById(disease.id + '_tier_collapse');
                        tier.innerText = tier.innerText.replace('[AMP/ASCO Tier]', '{{ disease.others }}');
                        {% if not evidence.functional %}
                            index += 1;
                            element = document.getElementById(disease.id + '_etype2_' + index.toString())
                            if (element == null) {
                                add_evidence_type2(disease);
                            }
                            document.getElementById(disease.id + '_etype2_id' + index.toString()).value = '{{ evidence.id }}';
                            document.getElementById(disease.id + '_etype2_st' + index.toString()).value = '{{ evidence.source_type }}';
                            document.getElementById(disease.id + '_etype2_s' + index.toString()).value = '{{ evidence.source_id }}';
                            document.getElementById(disease.id + '_etype2_e' + index.toString()).value = '{{ evidence.statement }}';

                            {% with sub=evidence.subevidences.first %}
                                document.getElementById(disease.id + '_etype2_sig' + index.toString()).value = '{{ sub.evid_sig }}';
                                document.getElementById(disease.id + '_etype2_level' + index.toString()).value = '{{ sub.level }}';
                                document.getElementById(disease.id + '_etype2_dir' + index.toString()).value = '{{ sub.evid_dir }}';
                                document.getElementById(disease.id + '_etype2_clin_sig' + index.toString()).value = '{{ sub.clin_sig }}';
                                document.getElementById(disease.id + '_etype2_drug' + index.toString()).value = '{{ sub.drug_class }}';
                                document.getElementById(disease.id + '_etype2_rating' + index.toString()).value = '{{ sub.evid_rating }}';
                            {% endwith %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% for report in disease.reports.all %}
                    getElementsByValue('{{ report.name }}', 'input', disease.id)[0].value = '{{ report.content }}'
                    getElementsByValue('{{ report.name }}', 'input', disease.id)[1].value = '{{ report.id }}'
                {% endfor %}

                {% with review_val=disease.reviewed %}
                    {% if review_val == 'r' and user.counselor %}
                        document.getElementById(disease.id + '_review').setAttribute('checked', '');
                        document.getElementById(disease.id + '_review').setAttribute('disabled', '');
                        document.getElementById(disease.id + '_meta_review').removeAttribute('disabled');
                        if (document.getElementById(disease.id + '_approve'))
                            document.getElementById(disease.id + '_approve').setAttribute('disabled', '');
                    {% elif review_val == 'm' and user.scientist %}
                        document.getElementById(disease.id + '_review').setAttribute('checked', '');
                        document.getElementById(disease.id + '_review').setAttribute('disabled', '');
                        document.getElementById(disease.id + '_meta_review').setAttribute('checked', '');
                        document.getElementById(disease.id + '_meta_review').setAttribute('disabled', '');
                        if (document.getElementById(disease.id + '_approve'))
                            document.getElementById(disease.id + '_approve').removeAttribute('disabled');
                    {% elif review_val == 'a' %}
                        document.getElementById(disease.id + '_review').setAttribute('checked', '');
                        document.getElementById(disease.id + '_review').setAttribute('disabled', '');
                        document.getElementById(disease.id + '_meta_review').setAttribute('checked', '');
                        document.getElementById(disease.id + '_meta_review').setAttribute('disabled', '');
                        if (document.getElementById(disease.id + '_approve')) {
                            document.getElementById(disease.id + '_approve').setAttribute('checked', '');
                            document.getElementById(disease.id + '_approve').setAttribute('disabled', '');
                        }
                    {% elif user.specialist %}
                        document.getElementById(disease.id + '_review').removeAttribute('disabled');
                        document.getElementById(disease.id + '_meta_review').setAttribute('disabled', '');
                        if (document.getElementById(disease.id + '_approve'))
                            document.getElementById(disease.id + '_approve').setAttribute('disabled', '');
                    {% else %}
                        document.getElementById(disease.id + '_review').setAttribute('disabled', '');
                        document.getElementById(disease.id + '_meta_review').setAttribute('disabled', '');
                        if (document.getElementById(disease.id + '_approve'))
                            document.getElementById(disease.id + '_approve').setAttribute('disabled', '');
                    {% endif %}
                {% endwith %}
            {% endfor %}
        });

        function copyReport(item) {
            Array.prototype.forEach.call(document.getElementsByName(item.name), function (element) {
                element.value = item.value;
            });
        }
    </script>
{% endblock %}