{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="card mt-4">
    <div class="card-header">
        <h5><strong>Edit</strong></h5>
    </div>
    <form action="{% url 'save_variant' item.gene.name item.protein %}" method="post">
        {% csrf_token %}
        <div class="card-body container pt-5">
            {% include 'partials/_detail.html' %}
            <fieldset id="diseases">
                <div id="add" class="row mt-2 mb-2">
                    <div class="col-2">
                        <a id="d0_collapse" class="collapsed" href="" data-toggle="collapse" data-target="#d0" onclick="collapse(this)" hidden><i id="d0_icon" class="fa fa-chevron-down pr-2" aria-hidden="true"></i>Collapse Disease</a>
                    </div>
                    <div class="col-2 offset-md-8 text-right pr-5">
                        <button class="btn btn-primary btn-sm" type="button" onclick="add_disease()">Add Disease</button>
                    </div>
                </div>
                <fieldset id="d0" class="my-auto collapse" hidden>
                    <input id="d0_id" name="d0_id" hidden>
                    <div class="row">
                        <div class="col-6 form-group">
                            <label>Disease</label>
                            <input class="form-control" id="d0_disease" name="d0_disease">
                        </div>
                        <div class="col-6 form-group">
                            <label>MIM#</label>
                            <input class="form-control" id="d0_others" name="d0_others">
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-12">
                            <label>Germline Gene-Disease Report</label>
                            <textarea class="form-control" id="d0_desc" name="d0_desc"></textarea>
                        </div>
                    </div>
                    <br/>
                    <div class="card sticky-top">
                        <div class="card-header">2015 ACMG Classification</div>
                        <div class="card-body ml-3">
                            <div class="row form-group">
                                <div class="col-3 offset-md-1">Evidence FOR Pathogenicity</div>
                                <div class="col-5"><input class="form-control" id="d0_for_score" name="d0_for_score" readonly></div>
                            </div>
                            <div class="row form-group">
                                <div class="col-3 offset-md-1">Evidence AGAINST Pathogenicity</div>
                                <div class="col-5"><input class="form-control" id="d0_against_score" name="d0_against_score" readonly></div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <div class="card">
                        <div class="card-header">
                            Evidence FOR Pathogenicity
                        </div>
                        <div class="card-body ml-3 overflow-auto">
                            {% for item in items %}
                            {% if 'P' in item.key and 'B' not in item.key %}
                            <fieldset id="d0_{{ item }}_fields">
                                <fieldset id="d0_{{ item }}_field">
                                    <div class="row form-group">
                                        <div class="form-check col-1">
                                            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="d0" id="d0_{{ item }}" value="{{ item.value }}" onclick="select_evidence(this)">{{ item }}</label>
                                        </div>
                                        <div class="col-1"><label>Source</label><input id="d0_{{ item }}_id1" name="d0_{{ item }}_id" hidden></div>
                                        <div class="input-group col-8">
                                            <div class="input-group-prepend" style="width: 30%">
                                                <select class="custom-select" id="d0_{{ item }}_st1" name="d0_{{ item }}_st" disabled>
                                                    <option disabled selected>Source Type</option>
                                                    <option value="PM">PMID</option>
                                                    <option value="O">Others</option>
                                                </select>
                                            </div>
                                            <input class="form-control" id="d0_{{ item }}_s1" name="d0_{{ item }}_s" placeholder="Source ID" disabled>
                                        </div>
                                        <div class="col-2 text-right">
                                            <button class="btn btn-primary btn-sm" type="button" id="d0_{{item}}_btn" onclick="add_evidence(this)" disabled>Add Evidence</button>
                                        </div>
                                    </div>
                                    <div class="row form-group mb-4">
                                        <div class="col-1 offset-md-1"><label>Evidence Statement</label></div>
                                        <div class="col-8"><textarea class="form-control" id="d0_{{ item }}_e1" name="d0_{{ item }}_e" disabled></textarea></div>
                                    </div>
                                </fieldset>
                            </fieldset>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <br/>


                    <div class="card">
                        <div class="card-header">
                            <h5>Evidence AGAINST Pathogenicity</h5>
                        </div>
                        <div class="card-body ml-3">
                            {% for item in items %}
                            {% if 'B' in item.key %}
                            <fieldset id="d0_{{ item }}_fields">
                                <fieldset id="d0_{{ item }}_field">
                                    <div class="row form-group">
                                        <div class="form-check col-1">
                                            <label class="form-check-label"><input class="form-check-input" type="checkbox" name="d0" id="d0_{{ item }}" value="{{ item.value }}" onclick="select_evidence(this)">{{ item }}</label>
                                        </div>
                                        <div class="col-1"><label>Source</label><input id="d0_{{ item }}_id1" name="d0_{{ item }}_id" hidden></div>
                                        <div class="input-group col-8">
                                            <div class="input-group-prepend" style="width: 30%">
                                                <select class="custom-select" id="d0_{{ item }}_st1" name="d0_{{ item }}_st" disabled>
                                                    <option disabled selected>Source Type</option>
                                                    <option value="PM">PMID</option>
                                                    <option value="O">Others</option>
                                                </select>
                                            </div>
                                            <input class="form-control" id="d0_{{ item }}_s1" name="d0_{{ item }}_s" placeholder="Source ID" disabled>
                                        </div>
                                        <div class="col-2 text-right">
                                            <button class="btn btn-primary btn-sm" type="button" id="d0_{{item}}_btn" onclick="add_evidence(this)" disabled>Add Evidence</button>
                                        </div>
                                    </div>
                                    <div class="row form-group mb-4">
                                        <div class="col-1 offset-md-1"><label>Evidence Statement</label></div>
                                        <div class="col-8"><textarea class="form-control" id="d0_{{ item }}_e1" name="d0_{{ item }}_e" disabled></textarea></div>
                                    </div>
                                </fieldset>
                            </fieldset>
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </fieldset>
            </fieldset>
        </div>
        <div class="card-footer">
            <div class="container">
                <div class="row form-group">
                    <div class="col-2 offset-md-4">
                        <button class="btn btn-primary btn-block" type="submit">Save</button>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-primary btn-block" type="button" onclick="history.back();">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'gp_add_evidence.js' %}"></script>
<script>
    $(document).ready(function() {
        var i,j;
        {% if item.diseases.all.count == 0 %}
        add_disease()
        {% endif %}

        {% for disease in item.diseases.all %}
        i = {{ forloop.counter }};
        add_disease()
        var field_partname = 'd' + i.toString();
        document.getElementById(field_partname + '_id').value = "{{disease.id}}";
        document.getElementById(field_partname + '_disease').value = "{{disease.name}}";
        document.getElementById(field_partname + '_desc').value = "{{disease.report}}";

        {% for evidence in disease.evidences.all %}
        var element = document.getElementById(field_partname + '_{{ evidence.item }}')

        element.setAttribute("checked", "");
        select_evidence(element);

        j = 1;
        while (document.getElementById(field_partname + '_{{ evidence.item }}_id' + j.toString()).value.length > 0) {
            add_evidence(document.getElementById(field_partname + '_{{ evidence.item }}_btn'));
            j++;
        }
        document.getElementById(field_partname + '_{{ evidence.item }}_id' + j.toString()).value = "{{evidence.id}}";
        document.getElementById(field_partname + '_{{ evidence.item }}_st' + j.toString()).value = "{{evidence.source_type}}";
        document.getElementById(field_partname + '_{{ evidence.item }}_s' + j.toString()).value = "{{evidence.source_id}}";
        document.getElementById(field_partname + '_{{ evidence.item }}_e' + j.toString()).value = "{{evidence.statement}}";
        {% endfor %}

        calculate_score(document.getElementById(field_partname + '_id'));
        {% endfor %}
    });
</script>
{% endblock %}